{% extends './posts-display-base.html' %}

{% block title %}
    <title>Mini-Instagram</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Mini-Instagram</h1>

        {% if posts %}
            <ul class="posts">
            {% for post in posts %}
                {% load static %}
                <li>
                    <h3><a>{{ post.author }}</a>: {{ post.text }}</h3>
                    <p>
                        <a class="like" href="./like/{{post.id}}">
                            {% if user.username in post.likedUsers %}
                                <img src="{% static 'instagram/images/filled-heart.png' %}"> 
                            {% else %}
                                <img src="{% static 'instagram/images/heart.png' %}">
                            {% endif %}
                        </a>
                        {{ post.numLikes }}</p>
                    <p class="date">{{ post.pub_date }}</p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="no-posts">No posts are available.</p>
    {% endif %}
    {% else %} 
        <meta http-equiv="REFRESH" content="0;url=./login">
    {% endif %}
{% endblock %}
